* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    user-select: none;
}

footer img {
    margin-left: 116px;
}

ul {
    display: flex;
    gap: 140px;
}

li {
    list-style: none;
}

.karate img {
    width: 42px;
    height: 42px;
    margin-left: 16px;
}

.karate img:hover {
    border: #6b00a8 solid 2px;
    border-radius: 99%;
}

li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 39px;
    bottom: 0;
    left: 0;
    background-color: #6b00a8;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

li {
    position: relative;
    color: #000000;
    text-decoration: none;
}

.principal img {
    width: 540px;
    border-radius: 40px;


}

.secundaria img {
    width: 120px;
    border-radius: 9px;
}

.secundaria {
    display: flex;
    align-items: center;
    gap: 20px;
}

.geral {
    margin: 300px 0 20px 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}